@import "tailwindcss";
/* PRIMARY BUTTON */
.btn-primary {
  background: linear-gradient(90deg, #2563eb, #06b6d4);
  color: white;
  padding: 14px 28px;
  border-radius: 14px;
  font-weight: 600;
  border: none;
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.35);
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(37, 99, 235, 0.45);
}

.btn-secondary {
  background: white;
  color: #111827;
  padding: 14px 28px;
  border-radius: 14px;
  font-weight: 600;
  border: 1px solid #d1d5db;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-secondary:hover {
  background: #f9fafb;
  transform: translateY(-2px);
}